/*body {*/


/*  padding-top: 50px;*/


/*  	background-color: #D62F01;*/


/*    border-color: #D62F01;*/


/*}*/

.navbar {
    background-color: #D62F01;
    border-color: #D62F01;
    margin: 0px;
}

.navbar-nav li a {
    color: #FFFFFF;
}

.navbar-nav li a:hover {
    color: #D62F01;
}

.navbar-brand {
    font-size: 60px;
    color: #FFFFFF;
    margin: 10px;
}

.navbar-brand:hover {
    color: #fff;
}

.tab {
    font-size: 20px;
}

.modal-body p {
    color: black;
}

.jumbotron h1 {
    color: #FFFFFF;
}

.jumbotron {
    color: #FFFFFF;
    margin: 0;
}

.jumbotron .btn {
    background-color: #D62F01;
    border-color: #D62F01;
}

.section {
    height: 300px;
}

.section h1 {
    color: #15C2D2;
}

.donate h3 {
    color: #FFFFFF;
}

.grey-light {
    background-color: #f2f2f2;
}

.orange {
    background-color: #EF5330;
}

.footer {
    background-color: #D62F01;
    border-color: #D62F01;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.social_media img:hover {*/
/*    height: 120px;*/
/*    width: 120px;*/
/*}*/

#contact h2 {
    color: #fff;
}

#contact .form-control {
    margin: 10px 0px 10px 0px;
}

.sponsor {
    max-width: 100px;
    opacity: 0.35;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

img {
    max-width: 100%;
    
    
    text-align: ;
}

#social ul {
    clear: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}

#social li {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
}

#social ul li img {
    margin: 10px;
    height: 25px;
}

#location-list {
    margin-top: 75px;
    background-color: #FFFFFF;
}

p {
    color: white;
}




 
    
img {
    text-align:center;
}
